@use "../../../styles/variables.scss" as *;

.TableLayout {
  overflow: auto;
  max-height: 500px;
  border: 1px solid black;

  table {
    background: inherit;
    border-collapse: separate;
    border-spacing: 0;

    thead {
      background: #aaa;
      position: sticky;
      top: 0;
      z-index: 1;

      th {
        padding: 0 10px;
        border: 1px solid black;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        text-align: left;
      }
    }

    td {
      padding: 0 10px;
    }

    tbody > tr > td {
      border: 1px solid black;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
    }
  }
  .TableRowView {
    cursor: pointer;
    user-select: none;

    // Styles for different states
    &.no-op {
      background-color: $no-op-color;
    }
    &.pack {
      &.depth-0 {
        background-color: $pack-1-color;
      }
      &.depth-1 {
        background-color: $pack-2-color;
      }
      &.depth-2 {
        background-color: $pack-3-color;
      }
    }
    &.stack {
      &.depth-0 {
        background-color: $stack-1-color;
      }
      &.depth-1 {
        background-color: $stack-2-color;
      }
      &.depth-2 {
        background-color: $stack-3-color;
      }
    }
    &.dragging,
    &.pressed {
      cursor: grabbing;
    }
    &.hovered {
      background-color: $hover-color;
    }
    &.selected {
      background-color: $selected-color;
    }

    .drag-handle {
      text-align: center;
      cursor: grab;
      background-color: #eee;

      &:hover {
        background-color: #ddd;
      }
    }
  }
}
