//
@use "sass:color";
// Interaction state color

$hover-color: #edc948;
// $selected-color: color.adjust($hover-color, $lightness: -10%);
$selected-color: tomato;
$focused-color: color.adjust($hover-color, $lightness: -20%);
$dragged-src-color: aquamarine;
$dragged-target-color: $dragged-src-color;

// Stack background colors, max depth = 3
$stack-1-color: #deebf7;
$stack-2-color: #9ecae1;
$stack-3-color: #3182bd;

// Pack background color, max depth = 3
$pack-1-color: #e5f5e0;
$pack-2-color: #a1d99b;
$pack-3-color: #31a354;
