
.table-stack rect {
    fill: #fff;
    cursor: grab;
}

.table-stack .cell rect {
    fill: #555;
}

.table-stack .cell.focused rect {
    fill: tomato;
}
.table-stack .cell.null.focused rect {
    fill: tomato;
}

.table-stack .cell text {
    text-anchor: middle;
    font-size: 10;
    font-family: monospace;
    pointer-events: none;
    user-select: none;
}

.table-stack .cell.dragging rect {
    fill: tomato;
    cursor: ew-resize;
    opacity: 25%;
}

.table-stack .cell.null rect {
    fill: #fbfbfb;
    stroke: #bbb;
    stroke-dasharray: 5 5;
    cursor: default;
}

.table-stack .cell.dragged-over rect {
    fill: cornflowerblue;
}

.table-stack .cell-margin {
    fill: tomato;
}