/**
 * CellLayout.scss
 *
 */

 $enabledCellColor: #555;
 $enabledCellOutlineColor: #aaa;
 $enabledCellBackgroundColor: #f9f9f9;
 $enabledCellFontWeight: 500;
 
 // lightens enabled variables to signify hover/unhover state
 $unhoverLightenFactor: 25%;
 
 $hoveredCellColor: $enabledCellColor;
 $hoveredCellOutlineColor: $enabledCellOutlineColor;
 $hoveredCellBackgroundColor: $enabledCellBackgroundColor;
 $hoveredCellFontWeight: $enabledCellFontWeight;
 $hoveredCellDropShadowColor: #ddd;
 
 $cellOutlineWidth: 1px;
 $cellMaxWidth: 100px;
 $verticalGutterWidth: 10px;
 $horizontalGutterWidth: 10px;
 $cellPadding: 5px;
 $cellBorderRadius: 5px;
 
 $xAxisLabelHeight: 25px;
 $xAxisTickHeight: 10px;
 $yAxisTickoffset: $xAxisLabelHeight + $xAxisTickHeight + 2px;