/*
 * TickLayout.scss
 *
 * Notes:
 * - The class name that defines tick styles is 
 * declared in `src/components/ColumnView/index.jsx`. Changing that exported 
 * constant value require redefining the class name in this file.
 * - The `border-color` attribute is defined inline. It is dynamically set 
 *   based on the data.
 */

 .ColumnView.tick {
    display: table-cell;
    user-select: none;
    padding: 1px;
    // padding-top: 15px;

    > div {
        background-color: aquamarine;
        // border-style: solid;
        // border-width: 1px;
        // border-top: none;
        // border-bottom: none;
    }

    &.hovered, :hover {
        opacity: 1;
    }

    &.unhovered {
        opacity: 0.25;
    }
 }