/**
 * CompositeTableSchema.scss
 * 
 * Styles for the Composite Table Schema.
 *
 */
@use "sass:color";
@use "sass:string";
@use "sass:meta";
@use "../../styles/variables.scss" as *;

$operation-padding: 0px;
$operation-border-radius: 0px;
$operation-border-color: #555;
$operation-border-width: 1px;
$operation-border-style: solid;

$table-height: 20px;
$table-border-radius: $operation-border-radius;
$table-border-color: #555;
$table-border-width: $operation-border-width;
$table-border-style: $operation-border-style;

$column-border-radius: $table-border-radius;
$column-border-width: $table-border-width;
$column-border-style: $table-border-style;
$focused-operation-column-border-color: black;

$label-offset-top: 0px;
$label-offset-left: 5px;
$label-text-color: $table-border-color;
$label-font-size: 10px;
$label-font-family: sans-serif;

$null-column-background: #ddd;

@mixin background-color($color, $parent-color) {
  color: $color; // Allows support for `currentColor` keyword

  $keyframe-name: "pulse-" + string.slice(#{meta.inspect($color)}, 2); // quick unique-ish name
  @keyframes #{$keyframe-name} {
    0% {
      background-color: $color;
    }
    50% {
      background-color: color.adjust($color, $lightness: -10%);
    }
    100% {
      background-color: $color;
    }
  }

  > .TableContainer > .TableBlockView {
    height: 100%;
    > .ColumnView {
      background-color: $color;
      border-color: $color;

      &.loading {
        animation: #{$keyframe-name} 1s ease-in-out infinite;
      }
      &.hover {
        background-color: $hover-color;
      }
      &.null {
        background-color: $null-column-background;
      }
      &.selected {
        background-color: $focused-color;
      }
      &.dragged {
        background-color: $dragged-src-color;
      }
      &.visible,
      &.null.visable {
        opacity: 1;
      }
    }

    &.hover {
      background-color: $hover-color;
      > .ColumnView {
        background-color: inherit;
        animation: none;
        &.null {
          background-color: $null-column-background;
        }
      }
    }
  }
}

.CompositeTableSchema {
  text-align: left;

  .TableStack-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #ddd;
    color: #999;
    min-height: 500px;
  }

  // Unfocused general operation styles
  // -----------------------------------------------------------
  .OperationContainer {
    display: flex;
    > .OperationBlockView {
      display: flex;
      box-sizing: border-box;
      position: relative;
      padding: $operation-padding;
      overflow: hidden;
      height: 100%;
      width: 100%;
      border-radius: $operation-border-radius;
      border-style: $operation-border-style;
      border-width: $operation-border-width;
      border-color: $operation-border-color;

      > .TableContainer {
        display: flex;
        flex: 1;
        > .TableBlockView {
          width: 100%;
          height: inherit;
          display: flex;
          box-sizing: border-box;
          flex-direction: row;
          position: relative;
          flex-grow: 1;
          flex-basis: inherit;
          min-height: $table-height;
          overflow: hidden; // prevent column divs from poking out of rounded corners
          border-style: $table-border-style;
          border-width: $table-border-width;
          border-color: $table-border-color;
          border-radius: $table-border-radius;

          > .ColumnView {
            pointer-events: none; // Disable mouse events when operation is not focused
            flex-grow: 1; // set individual item width to fill available space
            box-sizing: border-box;
            line-height: $table-height;
            border-style: $column-border-style;
            border-width: $column-border-width;
            // border-color: $column-border-color;

            border-radius: $column-border-radius;
            border-top: none;
            border-bottom: none;
            border-left: none;
            &:last-child {
              border-right: none;
            }

            &.null {
              cursor: default;
            }
          }
        }
      }

      .label {
        position: absolute;
        top: $label-offset-top;
        left: $label-offset-left;
        z-index: 1;
        border: none !important;
        line-height: $table-height;
        pointer-events: none;
        font-family: $label-font-family;
        font-size: $label-font-size;
        color: $label-text-color;
      }
    }

    &.no-op > .OperationBlockView {
      flex-direction: column;
      @include background-color(
        $null-column-background,
        $null-column-background
      );
    }

    // Unfocused stack operation styles
    // -----------------------------------------------------------
    &.stack {
      display: flex;
      flex: 1;
      > .OperationBlockView {
        flex: 0 0 auto;
        flex-direction: column; // newly added tables go to bottom
      }

      &.depth-1 > .OperationBlockView {
        @include background-color($stack-1-color, #fff);
      }
      &.depth-2 > .OperationBlockView {
        @include background-color($stack-2-color, $pack-1-color);
      }
      &.depth-3 > .OperationBlockView {
        @include background-color($stack-3-color, $pack-2-color);
      }

      > .OperationBlockView > div:not(:last-child) > div {
        border-bottom: none;
      }
    }

    // Unfocused pack operation styles
    // -----------------------------------------------------------
    &.pack {
      > .OperationBlockView {
        flex-direction: row; // newly added tables go to right side
      }
      &.depth-1 > .OperationBlockView {
        @include background-color($pack-1-color, #fff);
      }
      &.depth-2 > .OperationBlockView {
        @include background-color($pack-2-color, $stack-1-color);
      }
      &.depth-3 > .OperationBlockView {
        @include background-color($pack-3-color, $stack-2-color);
      }

      > .OperationBlockView > div:not(:last-child) > div {
        border-left: none;
      }
    }

    // Focused general operation styles
    // -----------------------------------------------------------
    &:has(.OperationContainer.focused)
      > .OperationBlockView
      > .TableContainer
      > .TableBlockView {
      opacity: 0.3333;
      transition: opacity 0.3s ease;
    }
    &.focused > .OperationBlockView {
      .OperationContainer.stack .TableBlockView {
        border-top-color: currentColor; // hide border without changing size
      }

      .TableContainer {
        opacity: 1;
        transition: opacity 0.3s ease;
      }
    }
  }
}
