/**
 * CompositeTableSchema.scss
 * 
 * Styles for the Composite Table Schema.
 *
 */
@use "sass:color";
@use "sass:string";
@use "sass:meta";
@use "../../styles/variables.scss" as *;

$operation-padding: 0px;
$operation-border-radius: 0px;
$operation-border-color: black;
$operation-border-color-focused: black;
$operation-border-width: 5px;
$operation-border-style: solid;

$table-height: 20px;
$table-border-radius: $operation-border-radius;
$table-border-color: $operation-border-color; // default table border color
$table-border-width: 1px;
$table-border-style: dotted;

$column-border-radius: $table-border-radius;
$column-border-width: $table-border-width;
$column-border-style: $table-border-style;
$focused-operation-column-border-color: black;
$unfocused-alpha: 0.25;

$label-offset-top: 0px;
$label-offset-left: 5px;
$label-text-color: $table-border-color;
$label-font-size: 10px;
$label-font-family: sans-serif;

$null-column-background: #ddd;
$null-column-border-color: $null-column-background;

@mixin background-color($color, $parent-color) {
  color: $color; // Allows support for `currentColor` keyword
  border-color: $color;
  transition: border-color 0.3s ease;
  $keyframe-name: "pulse-" + string.slice(#{meta.inspect($color)}, 2); // quick unique-ish name
  @keyframes #{$keyframe-name} {
    0% {
      background-color: $color;
    }
    50% {
      background-color: color.adjust($color, $lightness: -10%);
    }
    100% {
      background-color: $color;
    }
  }

  > .table {
    height: 100%;
    background-color: $color;
    transition: border-color 0.3s ease;
    transition: background-color 0.3s ease;

    > .ColumnView {
      background-color: inherit;

      &.loading {
        animation: #{$keyframe-name} 1s ease-in-out infinite;
      }
      &.hover {
        background-color: $hover-color;
      }
      &.selected {
        background-color: $focused-color;
      }
      &.dragged {
        background-color: $dragged-src-color;
      }
      &.visible,
      &.null.visable {
        opacity: 1;
      }
    }

    &.hover {
      // background-color: $hover-color;
      &:has(.ColumnView.hover) {
        background-color: $color;
        // border-color: $color;
      }
    }
  }

  &.hover {
    // background-color: $hover-color;
    .table {
      // background-color: $hover-color;
    }
    &:has(.table.hover) {
      background-color: $color;
      > .table:not(.hover) {
        background-color: $color;
      }
    }
  }

  &:has(.operation.focused) {
    border-color: rgba($color, $unfocused-alpha);

    > .table {
      border-color: rgba($table-border-color, $unfocused-alpha);
      background-color: rgba($color, $unfocused-alpha);
    }
  }
}

.CompositeTableSchema {
  text-align: left;

  .TableStack-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #ddd;
    color: #999;
    min-height: 500px;
  }

  // Unfocused general operation styles
  // -----------------------------------------------------------
  .operation {
    display: flex;
    flex: 1;
    height: 100%;
    box-sizing: border-box;

    position: relative;
    padding: $operation-padding;
    border-radius: $operation-border-radius;
    border-style: $operation-border-style;
    border-width: $operation-border-width;
    border-color: $operation-border-color;

    > .table {
      display: flex;
      flex-direction: row;
      flex: 1 1 0;
      box-sizing: border-box;
      height: inherit;
      position: relative;
      min-height: $table-height;
      pointer-events: none; // Disable mouse events when operation is not focused
      border-width: $table-border-width;
      border-style: $table-border-style;
      border-radius: $table-border-radius;
      border-color: $table-border-color;

      > .ColumnView {
        pointer-events: none; // Disable all mouse events
        flex: 1 1 0;
        box-sizing: border-box;
        display: block;
        border: none;

        &.null {
          cursor: default;
        }
      }

      .label {
        position: absolute;
        top: $label-offset-top;
        left: $label-offset-left;
        z-index: 1;
        border: none !important;
        line-height: $table-height;
        pointer-events: none;
        font-family: $label-font-family;
        font-size: $label-font-size;
        color: $label-text-color;
      }
    }

    // Unfocused no-op operation styles
    // -----------------------------------------------------------
    &.no-op {
      flex-direction: column;
      @include background-color($no-op-color, $no-op-color);
      .table {
        border: none;
      }
    }

    // Stack operation styles
    // -----------------------------------------------------------
    &.stack {
      flex-direction: column; // newly added tables go to bottom

      &.depth-1 {
        @include background-color($stack-1-color, #fff);
      }
      &.depth-2 {
        @include background-color($stack-2-color, $pack-1-color);
      }
      &.depth-3 {
        @include background-color($stack-3-color, $pack-2-color);
      }

      > .table:not(:last-child) {
        border-bottom: none;
      }

      &.focused {
        .ColumnView.null {
          background-color: $null-column-background;
        }
      }
    }

    // Pack operation styles
    // -----------------------------------------------------------
    &.pack {
      flex-direction: row; // newly added tables go to right side
      &.depth-1 {
        @include background-color($pack-1-color, #fff);
      }
      &.depth-2 {
        @include background-color($pack-2-color, $stack-1-color);
      }
      &.depth-3 {
        @include background-color($pack-3-color, $stack-2-color);
      }

      > .table:not(:last-child) {
        border-right: none;
      }
      .operation + .table {
        // disable border in children that
        // are tables adjacent to operation
        border-left: none;
      }
    }

    // Focused general operation styles
    // -----------------------------------------------------------
    // &:has(.operation.focused) > .table {
    //   opacity: 0.3333;
    //   transition: opacity 0.3s ease;
    // }

    &.focused {
      // outline: 5px solid $focused-color;
      border-color: $focused-color !important;
    }
  }
}
