
.source-table-item {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

.source-table-item:hover {
    background: #ddd;
}

.source-table-item.dragging, 
.source-table-item.pressed {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}