// LESS styles
// For documentation, see http://lesscss.org/

#roundup-projects {
  padding: 10px;
  font-size: 1.3em;
}

#roundup-projects header, #roundup-projects .row {
   display: flex;  /* aligns all child elements (flex items) in a row */
}

#roundup-projects header {
  font-weight: bold;
  margin-bottom: 5px;
}

#roundup-projects .col {
  flex: 1;        /* distributes space on the line equally among items */
}