// SourceTables.scss
//
//
@import "../../styles/variables.scss";

.SourceTables {
  span.highlight {
    background-color: yellow;
  }

  .TableView {
    .drag-handle {
      text-align: center;
      cursor: grab;
      background-color: #eee;

      &:hover {
        background-color: #ddd;
      }
    }
    user-select: none;

    &.dragging,
    &.pressed {
      cursor: grabbing;
    }

    &:hover,
    &.hover {
      background-color: $hover-color;
    }

    &.selected {
      &.pack {
        &.depth-1 {
          background-color: $pack-1-color;
        }
        &.depth-2 {
          background-color: $pack-2-color;
        }
        &.depth-3 {
          background-color: $pack-3-color;
        }
      }
      &.stack {
        &.depth-1 {
          background-color: $stack-1-color;
        }
        &.depth-2 {
          background-color: $stack-2-color;
        }
        &.depth-3 {
          background-color: $stack-3-color;
        }
      }
    }
  }

  .table-layout {
    overflow: auto;
    max-height: 100vh;
    border: 1px solid black;

    table {
      background: inherit;
      border-collapse: collapse;

      thead {
        background: #aaa;
        position: sticky;
        top: 0;
        z-index: 1;
        border: 2px solid black;

        tr > th {
          border-left: 1px solid black;
          border-left: 1px solid black;
        }
      }

      td {
        padding: 0 10px;
      }

      tbody > tr > td {
        border: 1px solid black;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
      }
    }
  }

  .list-layout {
    .list-item {
      cursor: grab;
      &.hover,
      &:hover > li {
        background-color: $hover-color;
      }
    }
  }
}
