// SourceTables.scss
//
//
@use "../../styles/variables.scss" as *;

.SourceTables {
  span.highlight {
    background-color: yellow;
  }

  .list-layout {
    .list-item {
      cursor: grab;
      &.hover,
      &:hover > li {
        background-color: $hover-color;
      }
    }
  }
}
