/**
 * CompositeTableSchema.scss
 * 
 * Styles for the Composite Table Schema.
 *
 * Notes:
 *  - The `border-color` attribute of `div.ColumnView` is defined inline. 
 *    It is dynamically set based on the data.
 */

$table-height: 20px;
$operation-border-radius: 10px;
$gutter-width: 3px;

// Stack background colors, max depth = 3
$stack-0-color: #deebf7;
$stack-1-color: #9ecae1;
$stack-2-color: #3182bd;

// Pack background color, max depth = 3
$pack-0-color: #e5f5e0;
$pack-1-color: #a1d99b;
$pack-2-color: #31a354;

// Interaction state color
$selected-color: goldenrod;
$hover-color: lighten(goldenrod, 10%);


@mixin operation-color($color, $parent-color) {
    background-color: $color;
    > .table {
        border-color: $color;
        border-top-color: $parent-color;
    }
}

.CompositeTableSchema {
    font-family: sans-serif;
    font-size: 10px;
    text-align: left;

    .root {
        outline: 1px solid #000;
    }

    &.ro {
        .operation {
            &.stack {
                .table {
                    .ColumnView {
                        &.null {
                            background-color: #ddd;
                        }

                        &:hover, &.hover {
                            background-color: $hover-color;
                        }
                    }
                }
            }
        }
    }

    .TableStack-empty {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px dashed #ddd;
        color: #999;
        min-height: 500px;
    }
    
    .operation {
        width: 100%;
        border-radius: $operation-border-radius;
        overflow: hidden;
        display: flex;

        &.selected {
            > .table {
                background-color: $selected-color;
            }
        }

        .label {
            position: absolute;
            line-height: $table-height;
            margin-left: 5px;
            pointer-events: none;
        }

        &.stack {
            flex-direction: column;

            &.depth-0 { @include operation-color($stack-0-color, #fff); }
            &.depth-1 { @include operation-color($stack-1-color, $pack-0-color); }
            &.depth-2 { @include operation-color($stack-2-color, $pack-1-color); }

            > .table {
                display: flex;
                flex-grow: 1;
                flex-basis: inherit;
                height: $table-height;
                border: none;
                border-top-style: solid;
                border-top-width: $gutter-width;
                // width: (set dynamically inline)

                &:first-child { 
                    border-top: none; border-bottom: none; 
                }

                .ColumnView {
                    flex-grow: 1;  // set individual item width to fill available space
                    line-height: $table-height;
                    user-select: none;
                    background-color: inherit;
                }
            }
        }

        &.pack {
            display: flex;
            flex-direction: row-reverse;
            padding: $gutter-width;

            &.depth-0 { @include operation-color($pack-0-color, #fff); }
            &.depth-1 { @include operation-color($pack-1-color, $stack-0-color); }
            &.depth-2 { @include operation-color($pack-2-color, $stack-1-color); }
        }
    }
}