/**
 * CompositeTableSchema.scss
 * 
 * Styles for the Composite Table Schema.
 *
 */



$operation-border-radius: 10px;
$operation-padding: 5px;

// Stack background colors, max depth = 3
$stack-0-color: #deebf7;
$stack-1-color: #9ecae1;
$stack-2-color: #3182bd;

// Pack background color, max depth = 3
$pack-0-color: #e5f5e0;
$pack-1-color: #a1d99b;
$pack-2-color: #31a354;

$table-height: 20px;
$table-border-color: #000;
$table-border-style: solid;
$table-border-width: 1px;

$label-text-color: $table-border-color;
$label-font-size: 10px;
$label-font-family: sans-serif;

// Interaction state color
$selected-color: #edc948;
$hover-color: lighten($selected-color, 10%);

@mixin operation-color($color, $parent-color) {
    background-color: $color;
    border-color: $color;
    > .table {
        background-color: $color;
    }
}

.CompositeTableSchema {
    text-align: left;

    &.ro {
        .operation {
            pointer-events: none;

            &.selected.stack {
                pointer-events: all;
                .table {
                    .ColumnView {
                        &.null {
                            background-color: #ddd;
                        }

                        &:hover, &.hover {
                            background-color: $hover-color;
                        }
                    }
                }
            }
        }
    }

    .TableStack-empty {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px dashed #ddd;
        color: #999;
        min-height: 500px;
    }
    
    .operation {
        padding: $operation-padding;
        overflow: hidden;
        display: flex;

        // Define a "secret" border to prevent jitter when selected.
        // The attribute `border-color` is defined elsewhere
        // border-radius: $operation-border-radius;
        border-radius: $operation-border-radius;
        border-width: 1px;
        border-style: solid;

        &.selected {
            background-color: $selected-color !important;
            border-color: $selected-color !important;
        }

        &.hover {
            background-color: $hover-color !important;
            border-color: $hover-color !important;
        }

        .table {
            border-width: $table-border-width;
            border-style: $table-border-style;
            border-color: $table-border-color !important;
            overflow: hidden; // prevent column divs from poking out of rounded corners
        }

        > .table {
            display: flex;
            flex-grow: 1;
            flex-basis: inherit;
            min-height: $table-height;

            .ColumnView {
                flex-grow: 1;  // set individual item width to fill available space
                line-height: $table-height;
                user-select: none;
                background-color: inherit;
            }
        }

        .label {
            position: absolute;
            line-height: $table-height;
            margin-left: 5px;
            pointer-events: none;
            font-family: $label-font-family;
            font-size: $label-font-size;
            color: $label-text-color;
        }

        &.stack {
            flex-direction: column-reverse;

            &.depth-0 { @include operation-color($stack-0-color, #fff); }
            &.depth-1 { @include operation-color($stack-1-color, $pack-0-color); }
            &.depth-2 { @include operation-color($stack-2-color, $pack-1-color); }

            > div {
                border-top: none;

                // Last child is the stack bottom
                // due to flex-direction
                &:last-child { 
                    border-top-width: $table-border-width;
                    border-top-style: $table-border-style;
                    border-top-left-radius: inherit;
                    border-top-right-radius: inherit;
                }
                // First child is the stack top,
                // due to flex-direction
                &:first-child {
                    border-bottom-left-radius: inherit;
                    border-bottom-right-radius: inherit;
                }
            }
        }

        &.pack {
            display: flex;
            flex-direction: row-reverse;

            &.depth-0 { @include operation-color($pack-0-color, $pack-0-color); }
            &.depth-1 { @include operation-color($pack-1-color, $stack-0-color); }
            &.depth-2 { @include operation-color($pack-2-color, $stack-1-color); }

            > div {
                &:first-child { 
                    border-top-right-radius: inherit;
                    border-bottom-right-radius: inherit;
                }
                &:last-child {
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                }
                &.table {
                    height: inherit;
                }
            }

            &.selected {
                > div {
                    // border-radius: 0px;
                }
            }
        }
    }
}