

.TableStack-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #ddd;
    color: #999;
    min-height: 500px;
}

.block {
    width: 100%;
    border: 1px solid #ddd;
}

.block.operation {
    display: flex;
    padding: 5px;
}

.block.operation.stack {
    background-color: aquamarine;
    flex-direction: column-reverse;
}

.block.operation.pack {
    background-color: beige;
    flex-direction: row-reverse;
}

.table.block {
    background-color: #aaa;
    /* margin: 5px 0; */
    padding: 5px;
}