/**
 * StackDetail.scss
 *
 * SASS styles for the Stack Detail component
 *
 * Notes:
 * 
 * - Uses the limited [`field-sizing` property](https://developer.mozilla.org/en-US/docs/Web/CSS/field-sizing) to
 *   control the width of input fields, which is unsupported in Firefox and Safari.
 *
 * - The form inputs are instances of ColumnView's Stack layout with most styles defined in
 *   src/components/ColumnView/Layouts/CellLayou.scss. It is necessary to define pointer-events
 *   for those `input` elements at the form level using the `:focus-within` psuedo-element. I 
 *   do it this way in lieu of disabled attributes, e.g. `<input disabled>`, in order to change
 *   the focus between cells but within column index of a stack operation.
 */

$enabledCellColor: #555;
$enabledCellOutlineColor: #aaa;
$enabledCellBackgroundColor: #f9f9f9;
$enabledCellFontWeight: 500;

// lightens enabled variables to signify hover/unhover state
$unhoverLightenFactor: 25%;

$hoveredCellColor: $enabledCellColor;
$hoveredCellOutlineColor: $enabledCellOutlineColor;
$hoveredCellBackgroundColor: $enabledCellBackgroundColor;
$hoveredCellFontWeight: $enabledCellFontWeight;
$hoveredCellDropShadowColor: #ddd;

$cellOutlineWidth: 1px;
$cellMaxWidth: 100px;
$verticalGutterWidth: 10px;
$horizontalGutterWidth: 10px;
$cellPadding: 5px;
$cellBorderRadius: 5px;

$xAxisLabelHeight: 25px;
$xAxisTickHeight: 10px;
$yAxisTickoffset: $xAxisLabelHeight + $xAxisTickHeight + 2px;

.StackDetail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    line-height: normal;
    font-size: 0.75rem;
    user-select: none;

    text-align: center;

    .x-axis.label {
        height: $xAxisLabelHeight;
    }

    > div {
        height: 100%;
    }

    .left-panel {
        display: flex;
        padding-top: $yAxisTickoffset;

        > .label {        
            // rotates text -90 degrees
            height: auto;
            color: #777;
            writing-mode: sideways-lr;
        }

        > .ticks {
            float: right;
            text-align: right;
            padding-left: 5px;

            .tick {
                padding-top: $cellPadding;
                padding-bottom: $cellPadding;
                margin-top: $horizontalGutterWidth;
            }
        }
    }

    .right-panel {
        flex-basis: 0;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow-x: auto;

        .grid-container {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            overflow-x: auto;
            padding-left: 5px;
            height: 100%;

            form {
                max-width: 100px;
                text-overflow: ellipse;
                // TODO add animated transition on width changes
                width: fit-content;
                font-family: sans-serif;

                label {
                    height: $xAxisTickHeight;
                    line-height: $xAxisTickHeight;
                }

                input {
                    pointer-events: none;
                }

                &:focus-within {
                    max-width: unset;
                    text-overflow: unset;
                    input {
                        pointer-events: all;
                    }
                }
    
                &.unhovered {
                    input,label {
                        color: lighten($enabledCellColor, $unhoverLightenFactor);
                    }
                    .StackCell {
                        outline-color: lighten($enabledCellOutlineColor, $unhoverLightenFactor);
                        background-color: lighten($enabledCellBackgroundColor, $unhoverLightenFactor);
                    }
                }
            }
        }
    }
}