
.stack-detail {
    /* width: 100%; */
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 2;
    border-width: 1px;
    border-color: #ddd;
}

thead.x.axis {
    text-align: center;
}

td.label {
    text-align: right;
    color: blue;
}

td.column {
    border-width: 1px;
    border-radius: 10%;

    padding: 2px;

    background: #ccc;
    cursor: ew-resize;

    text-align: center;
    font-size: 0.75rem;
    line-height: calc(1 / 0.75);

    /* truncate text */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

td.column:hover {
    background: #bbb;
}

td.column:active {
    background: #aaa;
}