
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
}

.y.axis {
    flex-grow: 0;
}

.y.axis > .label {
    display: inline-block;
    transform: rotate(-90deg);
}

.x.axis {
    text-align: center;
}

.sidebar {
    flex-grow: 0;
}

.sidebar > .row-label {
    padding-right: 5px;
    text-align: right;
}

.main {
    flex-grow: 1;
}

.body { 
    overflow-x: auto;
}

.header {
    text-align: center;
    position: relative;
    font-size: 0.75rem;
}

.head {
    position: absolute;
    top: 0;
}

.row {
    position: relative;
}

.row > .column {
    cursor: grab;
}

.row > .column:active {
    cursor: ew-resize;
}

.row > .column.dragging {
    z-index: 1000;
    box-shadow: 3px 3px 5px #555;
}

.row > .column.hovered {
    background-color: hotpink;
}

.row > div {
    position: absolute;
    top: 0px;
    height: inherit;
    text-align: center;
}

.row > .data {
    border: 1px solid #fff;

    background: #ccc;
    /* cursor: ew-resize; */

    text-align: center;
    font-size: 0.75rem;
    line-height: calc(1 / 0.75);

    /* truncate text */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.row:active > .column:hover {
    background: #bbb;
}

.row > .data:active {
    background: #aaa;
}