
.container {
    display: flex;
}

.sidebar {
    flex-grow: 0;
}

.sidebar > .row-label {
    padding-right: 5px;
    font-size: 0.75rem;
    text-align: right;
}

.body {
    flex-grow: 1;
    overflow-x: auto;
}

.body > .header {
    text-align: center;
}

.body > .header > .head {
    position: absolute;
    top: 0;
}

.body > .row {
    position: relative;
}

.body > .row > div {
    position: absolute;
    top: 0px;
    height: inherit;
    text-align: center;
}

.body > .row > .data {
    border: 1px solid #fff;

    background: #ccc;
    cursor: ew-resize;

    text-align: center;
    font-size: 0.75rem;
    line-height: calc(1 / 0.75);

    /* truncate text */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.row:active > .data:hover {
    background: #bbb;
}

.row > .data:active {
    background: #aaa;
}