@use "sass:math";

@import "../../../styles/variables.scss";
$horizontalGutterWidth: 10px;
$enabledCellOutlineColor: #aaa;
$table-border-style: solid;
$table-border-width: 1px;
$cell-border-width: $table-border-width;
$cell-border-style: dotted;
$cellPadding: 5px;

.ColumnBlockView {
  cursor: context-menu;
  &.hover,
  &:hover {
    background-color: $hover-color;
  }
}
